<div>
    <mat-progress-bar mode="determinate" color="accent" [value]="getProgressBarPercentage()" class="h4"></mat-progress-bar>
</div>
<div class="center pb3">
    <div class="bg-light-gray w-100 tc mt3">
        <!-- <h2 class="center pt3 fw1 lh-copy">Statistics</h2> -->
        <div class="tl pa2">
            <div class="tc f2">
                <!-- Total Allotted Calories: {{state.dailyCalories}} calories -->
                {{getCaloriesLeft()}} Calories left
            </div>
            <div class="flex justify-center pt3 f5">
                <div class="tc flex flex-column">
                    <span class="green">{{getNutritionCalculatedTotal()}}</span>
                    <span class="pr2">consumed</span>
                </div>
                
                
                <div class="tc flex flex-column">
                        <span class="black">{{getNetCalories()}}</span>
                        <span class="pr2 pl2">net</span>
                </div>

                <div class="tc flex flex-column">
                    <span class="red">-{{getWorkoutCalculatedTotal()}}</span>
                    <span class="pr2 pl2">burned</span>
                </div>

                <div class="tc flex flex-column">
                    <span class="blue">{{getWaterCalculatedTotal()}}oz</span>
                    <span class="pl2">water</span>
                </div>
            </div>
        </div>
    </div>
</div>